.cardheader {
  border-bottom: 1px solid #f4f4f4;
  margin-bottom: 5px; }

.navbar-default {
  background-color: #009688;
  border-color: transparent; }

.navbar-default .navbar-brand {
  color: #FFFFFF; }

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF; }

.fixed {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0; }

.navbarPS {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  /* border: 1px solid transparent; */ }

.containerPS {
  background-color: #009688;
  padding: 20px;
  margin-bottom: 30px; }

.activePS {
  background-color: #FFC107; }

/*Card*/
.card {
  display: inline-block;
  position: relative;
  width: 100%;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.84);
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.19); }

.cardPadding {
  margin-bottom: 30px; }

.cardImage {
  height: 20%;
  position: relative;
  overflow: hidden; }

.card .cardImage img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  pointer-events: none; }

.cardContent {
  padding: 16px 16px 5px 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box; }

.disableText {
  color: #959595;
  font-size: 8px !important;
  margin-bottom: 2px !important; }

.cardContentFont {
  font-size: 12px !important;
  margin-bottom: 10px !important; }

.right-align {
  float: right;
  margin-bottom: 7px !important; }

.left-and-right-algin {
  font-size: 12px !important; }

.jumbotron {
  background-color: transparent; }

.line {
  border: 0 !important;
  width: 60% !important;
  color: #009688 !important;
  background-color: #009688 !important;
  height: 5px !important; }

.carousel-control.right {
  background-image: none !important; }

.carousel-control.left {
  background-image: none !important; }

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #009688;
  /*box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);*/ }

.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin: 1px;
  background-color: #FFC107; }

.pull-right {
  float: right !important;
  display: inline-block;
  list-style: none; }

footer {
  background-color: #00796B;
  border-top: 5px solid #FFC107;
  color: #ffffff; }

.center {
  text-align: center; }

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px; }

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center; }

.upload-drop-zone.drop {
  color: #222;
  border-color: #222; }

.package-element {
  margin: 20px; }

.punch {
  background: #fafafa;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  box-shadow: inset -2px 0 1px rgba(0, 0, 0, 0.12);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1; }

.image-background {
  background: #00796B;
  color: #FFFFFF !important; }

.user-header {
  height: 175px;
  padding: 10px;
  text-align: center; }

.user-header > img {
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: rgba(255, 255, 255, 0.2); }

.center-text-trick {
  height: 100px;
  line-height: 100px;
  white-space: nowrap; }

.tag {
  font-weight: 600;
  padding: 5px;
  display: inline-block;
  background-color: #f39c12;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 10px; }

.timesteamp-tag {
  font-weight: 600;
  padding: 5px;
  display: inline-block;
  background-color: #f39c12;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 10px;
  float: right;
  color: #ffffff; }

.cardDisable {
  background: #959595; }

.mini-line {
  border: 0 !important;
  width: 95% !important;
  background-color: #BDBDBD;
  height: 1px !important; }

.accent-text {
  color: #FFC107; }

.blue-text {
  color: #0073b7; }

/*# sourceMappingURL=them.css.map */
